{% extends 'base.html.twig' %}

{% block menu %}
{% endblock %}

{% block seccioncentro %}
    <h1>Welcome to CouchInn!</h1>
    <p>The website for everyone who dreams to travel around the world!</p>
    <div class="btn-group" role="group">
        {% if is_granted('ROLE_USER') == false %}
            <a href="{{ path('fos_user_security_login') }}" class="btn btn-success">Iniciar Sesión</a>
        {% endif %}
        <a href="{{ path('_home') }}" class="btn btn-default">Home</a>
        {% if is_granted('ROLE_USER') == false %}
            <a href="{{ path('fos_user_registration_register') }}" class="btn btn-danger">Registrarme</a>
        {% endif %}
    </div>
    <div id="form"></div>
{% endblock %}