{% extends 'base.html.twig' %}

{% block panelhead %}
    Backend
{% endblock %}

{% block panelbody %}
    {% if is_granted('ROLE_ADMIN') %}
        <div>
            Usuarios <a href="{{ path('_listaDeUsuarios') }}" class="glyph glyphicon-circle-arrow-left"></a>
        </div>
    {% endif %}
{% endblock %}