{% extends 'base.html.twig' %}

{% block panelhead %}
    Backend
{% endblock %}

{% block panelbody %}
    {% if is_granted('ROLE_ADMIN') %}
        <div>

        </div>
    {% endif %}
{% endblock %}