{% extends 'base.html.twig' %}

{% block panelhead %}
    Cantidad de usuarios
{% endblock %}

{% block panelbody %}
    <table class="table table-striped" style="color: black">
        {{ usuarios }}
    </table>
{% endblock %}
