{% extends 'base.html.twig' %}

{% block panelhead %}Modificar un Tipo de Hospedaje{% endblock %}

{% block panelbody %}
    <div class="formulario">
        {{ form_start(form) }}
        {{ form_row(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}