{% extends 'base.html.twig' %}

{% block panelhead %}
    Lista de Usuarios<br>
    (registrados: {{ cant }})
{% endblock %}

{% block panelbody %}
    <table class="table table-striped" style="color: black">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre de Usuario</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
                <tr>
                    <td>{{ usuario.id }}</td>
                    <td>{{ usuario.username }}</td>
                    <td><a href="{{ path('_eliminarUsuario', { 'id': usuario.id }) }}" class="glyphicon glyphicon-erase"></a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
