{% extends 'base.html.twig' %}

{% block panelhead %}Comentario{% endblock %}

{% block panelbody %}
    <div class="formulario" style="text-align: left; color: white">
        {{ form_start(form) }}
        {{ form_row(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}