{% extends '::base.html.twig' %}


{% block panelhead %}
    Ayuda<br>

{% endblock %}

{% block panelbody %}
    <table class="table table-striped" style="color: #0f0f0f">
        <p>
            <div><a href="#" class="glyphicon glyphicon-chevron-right" style="color:white"></a><strong>¿Qué es Couchin?</strong></div>
            CouchInn es un sitio web que busca conectar gente que quiere ofrecer un espacio en   su   hogar   para   alojar   a
            visitantes   con   viajeros   que busquen  convivir  con  nativos  del  lugar  compartiendo  sus tradiciones y costumbres.
            Aquí podrás realizar una publicación describiendo el tipo de hospedaje a ofrecer, como también hacer reservas de las mismas.
            <br/>
        <div><a href="#" class="glyphicon glyphicon-chevron-right" style="color:white"></a><strong>¿Cómo registrarse en CouchInn?</strong></div>
            Registrarse en Couchin es muy fácil, sólo tienes que hacer click en el boton rojo que dice "Registrarse", ubicado a la derecha
            en la parte superior de la pantalla y llenar el formulario que aparece allí con tus datos. En dicho formulario, entre otras cosas, se te pedirá crear
            un nombre de usuario y una contraseña para que luego puedas ingresar a la pagina como usuario y hacer uso de todas las funcionalidades
            que CouchInn te ofrece.
            Luego presionas el boton que dice "Registrarme" y listo! Ya puedes hacer uso de todas las funcionalidades que CouchInn tiene para ofrecerte.
        <br/>
        <div><a href="#" class="glyphicon glyphicon-chevron-right" style="color:white"></a><strong>¿Cómo realizar una publicación?</strong></div>
            Lo primero que tienes que hacer es registrarte en el sitio. Si ya eres un usuario registrado, todo lo que tienes que hacer es
            dirigirte a la barra de menú y presionar el botón que dice "Publicaciones" y luego el botón que dice "Agregar publicación".
            Te aparecerá un formulario donde deberás ingresar una foto (si eres usuario premium podrás ingresar hasta 6 fotos), indicar
            el tiempo que deseas mantener la publicacion (esto lo haces a través de los campos "fecha disponible inicio" y "fecha disponible fin",
            indicar a que tipo de hospedaje corresponde tu publicación y completar con los datos de ubicación de tu publicación. Una vez llenado
            todos los campos (recuerda que es obligatorio llenar todos los campos) presionas el botón "Agregar Publicación" y listo!
        <br/>
        <div><a href="#" class="glyphicon glyphicon-chevron-right" style="color:white"></a><strong>¿Cómo realizar una reserva?</strong></div>
            Lo primero que tienes que hacer es registrarte en el sitio. Si ya eres un usuario registrado, todo lo que tienes que hacer es presionar el
            botón que dice "Publicacions". Allí se desplegará un listado con todas las publicaciones, das click en una de ellas, y aquí tendrás toda la informacion detallada del lugar. Luego
            presionas el botón "Reservar" y tu solicitud será enviada al dueño de la publicación quien responderá si tu solicitud fue aceptada.
        <br/>
        <div><a href="#" class="glyphicon glyphicon-chevron-right" style="color:white"></a><strong>¿Cómo calificar una publicación?</strong></div>
        Todas las publicaciones pueden ser calificadas positivas o negativas. Esto se hace a través  de las manitos verde (positivo) y roja (negativo)
        que se encuentran en la parte superior al lado del titulo Publicación.
        NOTA: Las publicaciones sólo pueden ser calificadas una vez por usuario.
        <br/>
        <div><a href="#" class="glyphicon glyphicon-chevron-right" style="color:white"></a><strong>¿Cómo calificar un usuario?</strong></div>
        Todos los usuarios pueden ser calificados positivos o negativos. Esto se hace a través  de las manitos verde (positivo) y roja (negativo)
        que se encuentran en la parte superior izquierda al lado del nombre de usuario, donde dice "Publicado por:_nombreDeUsuario"
        NOTA: Los usuarios sólo pueden ser calificados una vez por usuario.
        <br/>
        <div><a href="#" class="glyphicon glyphicon-chevron-right" style="color:white"></a><strong>Ver mi perfil</strong></div>
        Una vez que hayas iniciado sesión, te aparecerá un botón en la parte superior izquierda de la pantalla que dice "Mi perfil". Si presionas
        sobre el, se abrirá una lista desplegable donde podrás ver tu perfil, pagar usuario premium, cambiar tu contraseña o cerrar sesión.


        </p>
    </table>
{% endblock %}