{% extends 'base.html.twig' %}

{% block menu %}
{% endblock %}

{% block seccioncentro %}
    <h1>Welcome to CouchInn!</h1>
    <p>The website for everyone who dreams to travel around the world!</p>
    <div class="btn-group" role="group">
        <a href="#" class="btn btn-success">Iniciar Sesión</a>
        <a href="{{ path('_home') }}" class="btn btn-default">Home</a>
        <a href="{{ path('_registro') }}" class="btn btn-danger">Registrarme</a>
    </div>
    <div id="form"></div>
{% endblock %}