{% extends 'base.html.twig' %}

{% block panelhead %}Pago de Usuario Premium{% endblock %}

{% block panelbody %}
    <div class="formulario">
        {{ form_start(form) }}
        {{ form_row(form) }}
        {{ form_end(form) }}
        <a href='{{ path('_listaPubli') }}' class="btn bg-danger">Cancelar</a>
    </div>
{% endblock %}