{% extends 'base.html.twig' %}

{% block panelhead %}Publicar<br>
    <a href="{{ path('_tipoHospedaje') }}" class="btn btn-primary">Agregar tipo de hospedaje</a>
{% endblock %}
{% block panelbody %}
    {{ form_start(form) }}
    {{ form_row(form) }}
    {{ form_end(form) }}
{% endblock %}