{% extends '::base.html.twig' %}
        {% for comentario in comentarios %}
            <tr>
                <td>{{ comentario.deUsuario }}</td>
                <td>{{ comentario.comentario }}</td>

            </tr>
        {% endfor %}