{% extends 'base.html.twig' %}

{% block panelhead %}Publicar{% endblock %}

{% block panelbody %}

    <div class="formulario">
        {{ form_start(form, {'attr' : {'role' : 'form'}}) }}
        <div class="main container">
            <div class="col-md-4">
                <div class="form-group">
                    {{ form_label(form.maxPersonas) }}
                    {{ form_widget(form.maxPersonas, { 'attr' : {'class' : 'form-control','placeholder' : 'Ingrese la cantidad de personas'}} )}}
                </div>
             {{ form_end(form) }}

            </div>
        </div>
    </div>


{% endblock %}






