{% extends 'base.html.twig' %}

{% block panelhead %}Modificar mi publicacion{% endblock %}

{% block panelbody %}
    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    {{ form_end(edit_form) }}
    <a href='{{ path('_listaPubli') }}' class="btn bg-danger">Cancelar</a>
{% endblock %}