{% extends '::base.html.twig' %}

{% block panelhead %}
    Publicaciones<br>
    <a href="{{ path('_altaPubli') }}" class="btn btn-primary">Agregar Publicacion</a>
{% endblock %}

{% block panelbody %}
    <table class="table table-striped" style="color: #0f0f0f">
        <thead>
        <tr>
            <th>Usuario</th>
            <th>Descripcion</th>
            {% if is_granted('ROLE_ADMIN') %}
                <th>Modificar/Eliminar</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for publicacion in publicaciones %}
            <tr>
                <td>{{ publicacion.usuario }}</td>
                <td>{{ publicacion.descripcion }}</td>
                <td>
                    {% if publicacion.id == user.id %}
                        <a href="#" class="glyphicon glyphicon-edit"></a>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="#" class="glyphicon glyphicon-erase"></a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}