{% extends 'base.html.twig' %}

{% block panelhead %}Recuperar Contrase침a{% endblock %}

{% block panelbody %}
<div class="formulario">
    <div class="main container">
        <div class="col-md-5">
            <div>
                <form action="{{ path('_recoveryPass') }}">
                    {% if invalid_email is defined %}
                        <p>El email es inv치lido.</p>
                    {% endif %}
                    <div class="form-group">
                        <label for="email">Email: </label>
                        <input type="text" id="email" name="email" required="required"  class="form-control" placeholder="Ingrese un correo electr칩nico" }  />
                    </div>
                </form>
            </div>
            <div class="form-group">
                <button type="submit" class="btn label-default">Recuperar Contrase침a</button>
                <a href='{{ path('_listaPubli') }}' class="btn active">Cancelar</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
