{% extends '::base.html.twig' %}

{% block panelbody %}
    <table class="table table-striped" style="color: #0f0f0f">
        <thead>
        <tr>
            <th>Usuario</th>
            <th>Publicacion</th>
            <td>Pregunta</td>
            <th>Respuesta</th>
            {% if is_granted('ROLE_USER') %}
                <th></th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for pregunta in preguntas if  app.user.username  == pregunta.deUsuario.username and pregunta.respondido == true %}
            <tr>
                <td>
                    <div style="padding: 20px 0px">
                        {{ pregunta.aUsuario.username }}<br>
                    </div>
                </td>
                <td>
                    <div>
                        {{ pregunta.publicacion.descripcion }}
                    </div>
                </td>
                <td>
                    <div>
                        {{ pregunta.pregunta }}
                    </div>
                </td>
                <td>
                    <div>
                        {{ pregunta.respuesta }}
                    </div>
                </td>


            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}